/* Google Fonts에서 Nanum Gothic 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap');

/* 전체 페이지에 대한 기본 스타일 설정 */
body {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1062px;
    margin: 0 auto;
    padding: 0 20px; /* 좌우 패딩 추가 */
}

.logo img {
    height: 35px;
}

nav, #topMenu {
    display: flex;
    list-style: none;
}

#topMenu > li {
    position: relative;
    margin-right: 60px;
}

#topMenu > li:last-child {
    margin-right: 0;
}

#topMenu > li > a {
    display: block;
    color: #000;
    font-weight: 600;
    padding: 20px 15px;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px 0;
}

#topMenu > li:hover .sub-menu {
    display: block;
}

.sub-menu.leftbox {
    border-left: 5px solid #7389FF;
    border-bottom-right-radius: 10px;
}

.sub-menu.rightbox {
    right: 0;
    left: auto;
    border-right: 5px solid #7389FF;
    border-bottom-left-radius: 10px;
}

.sub-menu > li > a {
    display: block;
    padding: 10px 30px;
    color: #000;
    text-decoration: none;
}

.loginButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.loginButton:hover {
    background-color: #45a049;
}

/* 모바일 화면에서의 스타일 변경 */
@media screen and (max-width: 768px) {
    header {
        height: 60px;
    }
    .logo img {
        height: 30px;
        margin-right: 0;
    }
    #logo {
        text-align: center;
    }
    #topMenu > li {
        margin-right: 0;
    }
    .loginButton {
        display: none;
    }
    nav, #topMenu {
        display: none;
    }
}
